@media (max-width: 1000px) {

}

@media (max-width: 770px) {
    .sideMenu {
        display: none;
    }
    .introScreen, .input, .chatInterfaceContainer {
        width: 100vw;
    }
    .all-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .txtBoxesContainer {
        width: 60%;
    }
}

@media (max-width: 640px) {
    .txtBoxesContainer {
        width: 100%;
    }
}